html {
  background-color: #0f0f0f !important;
}

a {
  text-decoration: none;
  color: #f1f1f1;
}

span,
p,
a,
div,
* {
    font-family: "Roboto","Arial",sans-serif;
}

h1 {
  font-size: 24px;
}

.page-title {
  margin-bottom: 20px;
}

.custom-wrapper {
  border: 1px solid #222222;
}

.error {
  background: linear-gradient(
    90deg,
    rgba(18, 18, 18, 1) 0%,
    rgb(36 22 22) 100%
  );
}
